
.header {
    padding: 25px 0;
    color: whitesmoke;
    background-color: rgb(10, 10, 48);
    width: 100%;
    text-align: center;
    border-bottom: 10px orangered;
    margin-bottom: 10px;
    font-family:serif;
    font-size:larger;
}